*,*::after,*::before{
    margin:0;
    box-sizing: border-box;
}
img,picture,svg,canvas,video{
    display:block;
}
p,h1,h2,h3,h4,h5,h6{
    overflow-wrap: break-word;
}
input,button,textarea,select{
    font:inherit;
}

body{
    background:#333;
    color:#fff;
}
.lcontainer{
    height: 100vh;
    height: 100svh;
    place-items: center;
    padding: 1ch;
}
.lcontainer>*{
    margin: 1ch auto;

}
.quis{
    width: min(720px, 90%);
    display: flex;
    flex-direction: column;
    max-height: calc(100% - 16ch);
    background: #0005;
    border-radius: .3rem;
}
.inputGroup{
    padding:2ch;
}
.inputGroup{
    width: 100%;
    background: #0003;
}
input{
    background: #fff3;
    color: white;
    border: unset;
    border-radius: .3rem;
    width: calc(100% - 4ch);
    text-align: center;
}
table{
    width: 100%;
    border-spacing: 0;
}
#table{
    width: 100%;
    overflow-y: scroll;
    max-height: 100%;
}
th{
    background: #0007;
}
td,th{
    padding: 2ch;
}
tr:nth-of-type(2n){
    background-color: #0003;
}